@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700|Noto+Sans+KR:300,400,500,700&display=swap&subset=korean");

%nanum_gothic {
  font-family: "Nanum Gothic", sans-serif;
}

%noto_sans {
  font-family: "Noto Sans KR", sans-serif;
}

@mixin font_style($font_size, $letter_spacing, $line_height: 1) {
  font-size: $font_size;
  letter-spacing: $letter_spacing * $font_size / 1000;
  line-height: $line_height;
}
